.header{
    @apply md:bg-primary md:px-3 md:py-2 md:mb-10 xl:px-0 xl:py-0;
}

.nav{
    @apply flex justify-between py-3 px-5;
    // shadow-sm shadow-slate-100
    box-shadow: 0 1px 1px 1px rgba(var(--shadow), 0.25);

}

.nav-list{
    @apply flex items-center justify-center;
}

.nav-item {
    @apply block py-3 pr-4 pl-3 text-common hover:bg-green-100 hover:text-green-600 transition-all;
    &.active{
        font-weight: bold;
    }
}

.title{
    @apply flex items-center md:text-common font-bold lg:text-xl;
    svg{
        font-size: 22px;
        margin-right: 5px;
    }
}