.footer{
    display: grid;
    grid-auto-columns: minmax(120px, 1fr);
    grid-auto-flow: column;
    // overflow-x: auto;
    @apply bg-primary fixed bottom-0 left-[50%];
    transform: translateX(-50%);
    width: calc(100% - 1.5rem);
    .item {
        a{
            @apply px-2 py-3 text-center text-white text-sm;
            @apply flex flex-col items-center justify-center;
            svg{
                font-size: 20px;
            }
        }
    }
}
