@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    @apply rounded-lg md:rounded-none;
    @apply m-1 md:m-0 overflow-y-hidden md:overflow-y-auto;
    background-color: var(--bg);
    overflow-y: auto;
    height: 100vh;
}

:root {
	--primary: #2db064; // #48914b
    --text-common: #535353;
    --input: #eff1f2;
    --bg: #fff;
    --shadow: 189, 189, 189;
}

.chakra-ui-dark {
    --primary: #2db064;
    --text-common: #f1f1f1;
    --input: #282828;
    --bg: #202320;
    --shadow: 95, 95, 95;
}

body {
    font-family: "Open Sans", sans-serif;
    @apply bg-slate-200 md:bg-transparent #{!important};
    @apply overflow-y-hidden md:overflow-y-auto;
    --chakra-colors-chakra-body-text: var(--text-common);
}

html,body{
    max-height: 100vh;
    min-height: auto;
}

main{
    max-height: calc(100vh - 120px);
}

a{
    text-decoration: none;
    outline: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    @apply bg-[url('/images/light-pattern.png')];
}

.chakra-ui-dark .background{
    @apply bg-[url('/images/dark-pattern.png')];
}

@media (min-width: 1200px) {
    #root {
        height: auto;
    }
    main{
        max-height: initial;
    }
}