@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    @apply rounded-lg md:rounded-none;
    @apply m-1 md:m-0 overflow-y-hidden md:overflow-y-auto;
    background-color: #fff;
    height: 100vh;
    overflow-y: auto;
}

:root {
	--bg-primary: #2db064; // #48914b
    --text-common: #535353;
}

.dark-theme {
    --bg-primary: #2db064;
    --text-common: #dbdbdb;
}

body {
	font-family: 'Roboto', sans-serif !important;
    @apply bg-slate-200 md:bg-transparent #{!important};
    @apply overflow-y-hidden md:overflow-y-auto;
}

html,body{
    max-height: 100vh;
    min-height: auto;
}

a{
    text-decoration: none;
    outline: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
}